mat-card {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      mat-form-field {
        width: 100%;
        margin-bottom: 15px;
      }
  
      mat-radio-group {
        margin-bottom: 15px;
  
        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
          color: #333;
        }
      }
  
      .green-button {
        background-color: #4CAF50;
        color: #fff;
        margin-top: 20px;
  
        &:hover {
          background-color: #45a049;
        }
      }
    }
  
    p {
      text-align: center;
      margin-top: 20px;
  
      a {
        color: #3f51b5;
        text-decoration: none;
        font-weight: bold;
      }
    }
  
    mat-checkbox {
      margin-top: 10px;
    }
  }
  